body{
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-top:10px solid beige;
}
h1{
    margin: 15px 0;
    
}
.fa-pencil{
    margin-right: 3px;
}

#user-input{
    border-radius: 3px;
    border: 3px solid beige;
    outline: none;
}

#plus-btn{
    border-radius: 3px;
    border: 3px solid beige;
    background-color: beige;
}

.tabs{ 
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.tabs div{
    padding: 1em;
    cursor: pointer;
}

.tabs div:hover{
    background-color: rgba(211, 211, 211, 0.466);
}

#task-area{
    margin-top: 1.5em;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.task-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-area .icon-box{
    display: flex;
    align-items: center;
}

.list-area .fa-check{
    color: #008000;
}

.icon-box div:nth-child(1):hover{
    background-color:lightgreen;
    transition: 0.5s;
}

.fa-trash-can{
    color: #FF0033;
}

.icon-box div:nth-child(2):hover{
    background-color:#FF9999;
    transition: 0.5s;
}

.list-area .icon-box div{
    padding: 1em 1.75em;
    border-radius: 1px;
}

#task{
    padding-left: 1em;
}

.task-done{
    text-decoration: line-through;
    background-color: lightgray;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
}

.fa-arrow-rotate-left{
    color: gray;
}

#under-line{
    padding: 0;
    background-color: lightcoral;
    width: 51px;
    height: 4px;
    position: absolute;
    top: 56px;
    left: 0px;
    
    transition: 0.5s;
}